@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-link {
    @apply p-2 lg:py-3 hover:border-opacity-75 hover:text-white border-opacity-0 border-b-8 border-secondary transition-all duration-200 uppercase
}

.btn-secondary {
    @apply bg-secondary text-white  font-bold px-4 py-2 shadow rounded-full inline-block hover:shadow-md disabled:opacity-50;
}

.box-icon-secondary {
    @apply text-secondary !important;
}

.box {
    @apply border shadow p-10 rounded-xl bg-white hover:bg-primary hover:text-white transition-all duration-300 hover:shadow-md;
}

.input-group  {
        @apply pb-2;
}
.input-group label {
        @apply block font-bold pb-2;
}
.input-group input {
    @apply border-gray-800 block w-full;
}